<%= provide(:title, "About Me") %>
<main class="container about">
    <div class="row mt-5">
        <div class="col-md-6">
            <%=image_tag("pages/KR.jpg", class: "me", alt: "Me") %>
        </div>
        <div class="col-md-6">
            <h2 class="ml-5">Curiosity, Creativity, Attention to Details</h2>
            <br/>
            <h4>Hello. My name is <span class="align-top">Clode Uwa</span></h4>
            <p>Who Am I?.................blah blah blah</p>
        </div>
    </div>
</main>