<%= provide(:title, "Blog")%>
<main class="container">
    <h1>Dive in and feed your curiosity</h1>
    <div class="alert alert-light">
        <p>Have a quick look some interesting ideas on 
        <%=link_to "Medium.com", "https://medium.com/", target: "_blank"%>
    </div>

</main>
