<%= provide(:title, "Contact Me") %>

<main>
    <div class="container">
        <h1>Contact Me</h1>
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
    </div>
</main>