<%= provide(:title, "Welcome") %>
<main>
  <div class="jumbotron jumbotron-fluid bg-light">
    <div class="container text-center jumbo-text">
      <h1 class="display-4">Welcome to my World!</h1>
      <p class="lead line">My name is Clode, I am a full-stack developer. Checkout my projects </p>
      <p class="lead">
        <%= link_to "HTML/CSS", portfolio_path, class: "btn btn-lg view-work font-weight-lighter", role: "button" %> 
        <a class="btn btn-lg view-work font-weight-lighter" href="#" role="button">JavaScript</a>
        <a class="btn btn-lg view-work font-weight-lighter" href="#" role="button">Ruby on Rails</a>
        <a class="btn btn-lg view-work font-weight-lighter" href="#" role="button">PHP</a>
      </p>
    </div>
  </div>
</main> 
