
<main>
  <div class="jumbotron jumbotron-fluid text-white">
    <div class="container text-right jumbo-text">
      <h1 class="display-4">Welcome to my World!</h1>
      <p class="lead">Welcome welcome! My name is Clode, I was born to code. This is my coding journey... </p>
      <p class="lead">
        <a class="btn btn-lg view-work font-weight-lighter" href="#" role="button">View my Work</a>
      </p>
    </div>
  </div>
</main> 
