<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav font-weight-bold">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Welcome</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
    <a class="navbar-brand" href="#">Clode Uwamariya</a>
    </div>
</nav>
</header>
<main>
  <div class="jumbotron jumbotron-fluid text-white">
    <div class="container text-right jumbo-text">
      <h1 class="display-4">Welcome to my World!</h1>
      <p class="lead">Welcome welcome! My name is Clode, I was born to code. This is my coding journey... </p>
      <p class="lead">
        <a class="btn btn-lg view-work" href="#" role="button">View my Work</a>
      </p>
    </div>
  </div>
</main> 
<footer class="container text-right">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#" class="copy d-block">&copy; 2020 Clode Uwa</a>
</footer>