// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.jumbotron {

    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),url("https://images.unsplash.com/photo-1607453902486-555434a0403d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80");
    background-size: cover;
    
    height: 600px;
}

.navbar {
    background: none;
    padding-bottom: 40px; 
}


.view-work {
    background: rgba(0, 0, 0, 0.586);
    color: white;
}

.jumbo-text, .navbar{
    padding-top: 40px;
}

/* Footer*/
footer {
    margin-top: 100px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
}

.copy {
    float: left;
    margin-left: 25px;
}
.media {
    float: right;
   margin-right: 25px;
}
.fab {
    
    font-size: 1.5rem;
}
footer a {
    color: #555;
}

// .copy {
//     color: black;
//     // padding-top: 10px;
// }

/* Slider */

.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; }